{{template "base" .}}

{{define "title"}}
<title>Major's Suite</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="Room Image">
        </div>
    </div>

    <div class=row>
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p>Your home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vaction to remember.
                our home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vaction to remember.
                our home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vaction to remember.
                our home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vaction to remember.
                our home away from home. Set on the majestic waters of the Atlantic Ocean. This will be a vaction to remember.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availiability</a>
        </div>
    </div>
</div>
{{end}}


{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function(){Book("{{.CSRFToken}}", "2")});
</script>
{{end}}